@model List<Turnos>;
@{
    ViewData["Title"] = "Turnos";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>ESTAMOS ACAAAAAAAAAAAAAAAAAAAA</h1>
    <h1 style="text-align:center">Turnos</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>DIA</th>
                <th>HORA</th>
                <th>RESERVAR</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Turnos t in Model)
            {
                <tr>
                    <td>@t.Id</td>
                    <td>@t.Dia</td>
                    <td>@t.Hora</td>
                    <td><button class="btn">Reservar</button></td>
                </tr>
            }

        </tbody>
    </table>
    <div>
        <h2>Vista Turnos</h2>
    </div>
</body>
</html>
