@model List<Turnos>;
@{
    ViewData["Title"] = "Reservas";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Vista Reservas Turnos</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>DIA</th>
                <th>HORA</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Turnos t in Model)
            {
                <tr>
                    <td>@t.Dia</td>
                    <td>@t.Hora</td>
                </tr>
            }

        </tbody>
    </table>
</body>
</html>
