@model Mascotas
@{
    ViewData["Title"] = "Mascotas";
   
}


<h2 style="color:coral; text-align:center">AGREGAR MASCOTAS</h2>

<form asp-action="CrearMascotas">
    <div class="form-group">
        <label for="nombre" class="control-label">NOMBRE</label>
        <input asp-for="Nombre" type="text" id="nombre" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Tipo" class="control-label">Tipo</label>
        <input asp-for="Tipo" type="text" id="Tipo" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Edad" class="control-label">Edad</label>
        <input asp-for="Edad" type="text" id="Edad" class="form-control" />
    </div>

    @*<div class="form-group">
        <label for="DNI" class="control-label">Clientes.DNI</label>
        <input asp-for="FK_DNI" type="text" id="DNI class="form-control" />
    </div>*@

    <div class="form-group">
        <button type="submit" style="margin-top:10px; max-width:30%" class="btn-success form-control">Guardar</button>
    </div>


</form>
