@model VeterinariaOrt.Models.Reservas_Turnos
@{
    ViewData["Title"] = "Reservas";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Vista Reservas Turnoas</h2>
    </div>
</body>
</html>
